<app-header></app-header>
<div class="container" *ngIf="isShowbanner">
  <app-banner></app-banner>
  <app-feature-post></app-feature-post>
</div>

<main role="main" class="container">
  <div class="row">
    <div class="col-md-8 blog-main">
      <router-outlet></router-outlet>
    </div><!-- /.blog-main -->
    <aside class="col-md-4 blog-sidebar">
      <app-sidebar></app-sidebar>
    </aside><!-- /.blog-sidebar -->
  </div><!-- /.row -->
</main><!-- /.container -->

<app-footer></app-footer>
